*{
    margin: 0;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
}
body {
    /* margin: 0; */
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkslategray;
    overflow: hidden;
    padding: 45px;
}

.custom-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}


.pitch {
    width: 900px;
    height: 680px;
    transform: rotateX(15deg);
    background-image: url("../assets/img/https3A2F2Fcdn.png");
    background-repeat: no-repeat;
}
.row {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}
.goalkeeper {
    top: 70%; 
}

.defenders {
    top: 50%;
}

.midfielders {
    top: 20%;
}

.attackers {
    top: -5%;
}

.player {
    margin: 0 35px;
    width: 100px; 
    height: 150px;
    background-image: url("img/placeholder-card-normal.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.player-content{
    margin: 0 35px;
    width: 130px; 
    height: 150px;
    background-image: url("img/badge_gold.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.player-details {
    display: flex;
    justify-content: center;
    gap: 5px;
    /* margin-top: -15%; */

}

.stat-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.33% - 8px);
    box-sizing: border-box;
    font-size: 0.4rem;

}

.stat-label {
    /* font-size: 12px; */
    font-weight: bold;
    color: rgb(79, 47, 0);
    padding: 0;
}

.stat-value {
    padding: 0;
    color: rgb(99, 87, 53);
    font-weight: bold;
}
.player-flags {
    display: flex;
    justify-content: center;
}
.flag {
    width: 25px;
    height: 15px;
    /* margin: 0 7px; */
    margin-top: 5%;
}

.player-icon{
        margin-top: 80%;
        background-color: #afadad;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
}
